body {
  font-family: "Vazir", sans-serif;
  background-color: #0f0f0f;
  color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1a1a1a;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2em;
  color: #00ff99;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #00ff99;
}

main {
  padding: 30px;
  text-align: center;
}

footer {
  background-color: #1a1a1a;
  color
